<div class="container">
  <header class="header">
    <img src="../assets/logo.png" alt="trillo logo" class="logo" />

    <form action="#" class="search">
      <input type="text" class="search__input" placeholder="search hotles" />
      <button class="search__button">
        <svg class="search__icon">
          <use xlink:href="../assets/sprite.svg#icon-magnifying-glass"></use>
        </svg>
      </button>
    </form>
    <nav class="user-nav">
      <div class="user-nav__icon-box">
        <svg class="user-nav__icon">
          <use xlink:href="../assets/sprite.svg#icon-bookmark"></use>
        </svg>
        <span class="user-nav__notification">7</span>
      </div>
      <div class="user-nav__icon-box">
        <svg class="user-nav__icon">
          <use xlink:href="../assets/sprite.svg#icon-chat"></use>
        </svg>
        <span class="user-nav__notification">13</span>
      </div>
      <div class="user-nav__user">
        <img
          src="../assets/user.jpg"
          alt="user photo"
          class="user-nav__user-photo"
        />
        <span class="user-nav__user-name">Olajide</span>
      </div>
    </nav>
  </header>
  <div class="content">
    <nav class="sidebar">
      <ul class="side-nav">
        <li class="side-nav__item side-nav__item--active">
          <a href="#" class="side-nav__link">
            <svg class="side-nav__icon">
              <use xlink:href="../assets/sprite.svg#icon-home"></use>
            </svg>
            <span>Hotel</span>
          </a>
        </li>
        <li class="side-nav__item">
          <a href="#" class="side-nav__link">
            <svg class="side-nav__icon">
              <use
                xlink:href="../assets/sprite.svg#icon-aircraft-take-off"
              ></use>
            </svg>
            <span>Flight</span>
          </a>
        </li>
        <li class="side-nav__item">
          <a href="#" class="side-nav__link">
            <svg class="side-nav__icon">
              <use xlink:href="../assets/sprite.svg#icon-key"></use>
            </svg>
            <span>Car Rental</span>
          </a>
        </li>
        <li class="side-nav__item">
          <a href="#" class="side-nav__link">
            <svg class="side-nav__icon">
              <use xlink:href="../assets/sprite.svg#icon-map"></use>
            </svg>
            <span>Tours</span>
          </a>
        </li>
      </ul>

      <div class="legal">&copy; 2022 by trillo. All right reserved.</div>
    </nav>
    <main class="hotel-view">
      <div class="gallery">
        <figure class="gallery__item">
          <img
            src="../assets/hotel-1.jpg"
            alt="Hotel photo 1"
            class="gallery__photo"
          />
        </figure>
        <figure class="gallery__item">
          <img
            src="../assets/hotel-2.jpg"
            alt="Hotel photo 1"
            class="gallery__photo"
          />
        </figure>
        <figure class="gallery__item">
          <img
            src="../assets/hotel-3.jpg"
            alt="Hotel photo 1"
            class="gallery__photo"
          />
        </figure>
      </div>

      <div class="overview">
        <h1 class="overview__heading">Hotel La Continental</h1>
        <div class="overview__stars">
          <svg class="overview__icon-star">
            <use xlink:href="../assets/sprite.svg#icon-star"></use>
          </svg>
          <svg class="overview__icon-star">
            <use xlink:href="../assets/sprite.svg#icon-star"></use>
          </svg>
          <svg class="overview__icon-star">
            <use xlink:href="../assets/sprite.svg#icon-star"></use>
          </svg>
          <svg class="overview__icon-star">
            <use xlink:href="../assets/sprite.svg#icon-star"></use>
          </svg>
          <svg class="overview__icon-star">
            <use xlink:href="../assets/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <div class="overview__location">
          <svg class="overview__icon-location">
            <use xlink:href="../assets/sprite.svg#icon-location-pin"></use>
          </svg>
          <button class="btn-inline">Abeokuta, Nigeria</button>
        </div>
        <div class="overview__rating">
          <div class="overview__rating-average">8.6</div>
          <div class="overview__rating-count">429 votes</div>
        </div>
      </div>

      <div class="detail">
        <div class="description">
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ab!
            Quas consectetur culpa, explicabo iste ea quod perferendis
            reiciendis, ipsa deleniti accusamus maiores laborum voluptas illo a
            corrupti! Quas ducimus eaque, non soluta perspiciatis quia?
          </p>
          <p class="paragraph">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur officia cumque impedit autem cupiditate sequi
            repudiandae vel praesentium quibusdam officiis!
          </p>
          <ul class="list">
            <li class="list__item">Close to the Beach</li>
            <li class="list__item">Breakfast included</li>
            <li class="list__item">Free airport shuttle</li>
            <li class="list__item">Free WiFi in all rooms</li>
            <li class="list__item">Air conditioning and heating</li>
            <li class="list__item">Pet allowed</li>
            <li class="list__item">we speak all languages</li>
            <li class="list__item">Perfect for families</li>
          </ul>
          <div class="recommend">
            <p class="recommend__count">
              Lucy and 3 other friends recommend this hotel.
            </p>
            <div class="recommend__friends">
              <img
                src="../assets/user-3.jpg"
                alt="friend1"
                class="recommend__photo"
              />
              <img
                src="../assets/user-4.jpg"
                alt="friend1"
                class="recommend__photo"
              />
              <img
                src="../assets/user-5.jpg"
                alt="friend1"
                class="recommend__photo"
              />
              <img
                src="../assets/user-6.jpg"
                alt="friend1"
                class="recommend__photo"
              />
            </div>
          </div>
        </div>
        <figure class="user-reviews">
          <figure class="review">
            <blockquote class="review__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
              nemo suscipit magni quibusdam culpa totam.
            </blockquote>
            <figcaption class="review__user">
              <img src="../assets/user-1.jpg" alt="user 1" class="review__photo">
              <div class="review__user-box">
                <p class="review__user-name">pry ancan</p>
                <p class="review__user-date">April 15, 2022</p>
              </div>
              <div class="review__rating">
                7.8
              </div>
            </figcaption>
          </figure>
           <figure class="review">
            <blockquote class="review__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
              nemo suscipit magni quibusdam culpa totam.
            </blockquote>
            <figcaption class="review__user">
              <img src="../assets/user-2.jpg" alt="user 1" class="review__photo">
              <div class="review__user-box">
                <p class="review__user-name">nick johnas</p>
                <p class="review__user-date">sept 9th, 2022</p>
              </div>
              <div class="review__rating">
                9.8
              </div>
            </figcaption>
          </figure>

          <button class="btn-inline">show all <span>&rarr;</span></button>
        </figure>
      
      </div>
        <div class="cta">
          <h2 class="cta__book-now">
            Good news! we have 4 roomsfor your selected dates
          </h2>
          <button class="btn">
            <span class="btn__visible">Book Now</span>
            <span class="btn__invisible">only 4 rooms left</span>
            
          </button>
        </div>
    </main>
  </div>
</div>

<router-outlet></router-outlet>
